# Compiled executables

01_helloworld/helloworld
02_variables/variables
03_format_specifiers/format_specifiers
04_arithmetic_operators/arithmetic
05_user_input/userinput
06_math_functions/mathfunctions
07_if_statements/if_statement
08_switches/switches
09_nested_if_statements/nested_statements
10_logical_operators/logical_operators
11_functions/example
11_functions/functions
12_return_keyword/age_example
12_return_keyword/getMax
12_return_keyword/return
13_variable_scope/variable_scope
14_function_prototypes/function_prototypes
15_while_loops/boolean_example
15_while_loops/name_example
15_while_loops/while_loops
16_for_loops/for_loops
17_break_and_continue/main
18_nested_loops/nested_loops
19_random_numbers/random
20_arrays/arrays
20_arrays/arraysofstrings
20_arrays/userinput
21_ternary_operator/ternary_operator
22_typedef/typedef
23_enums/enums
24_structs/arraysofstructs
24_structs/strucs
25_pointers/pointers
26_write_files/write_files
27_read_files/read_files
28_malloc/malloc
29_calloc/calloc
30_realloc/realloc

projects/01_shopping_cart/shopping_cart
projects/02_mad_libs/madlibs
projects/03_circle_calculator/circle_calc
projects/04_compound_interest_calculator/calculator
projects/05_weight_converter/weight_calculator
projects/06_temperature_converter/tempconverter
projects/07_calculator/calculator
projects/08_num_guessing_game/game
projects/09_rock_paper_scissors/rps_game
projects/10_banking_program/banking_program
projects/11_quiz/quiz
projects/12_clock/12_clock
